body {
height: 100vh;
background-image: url('../images/lopez.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}



 /* fog styles  */
.fog-low {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -35%;
    margin-bottom: -50px;
    width: 110%;
    opacity: .85;
  }
  
  .fog-low img {
    width: 100%;
  }
  
  .fog-low.right {
    margin-left: 30%;
    opacity: 1;
  }

  .moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
  }
  
  @keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }